<div class="major-section--nav">
  <nav>
      <div id="navbar" class="">
        <ul class="">
          <li>
            Get Started
            <ul>
              <li><a href="{{ site.baseurl }}/get-started/beam-overview/">Beam Overview</a></li>
              <li>
                Quickstarts
                <ul>
                  <li><a href="{{ site.baseurl }}/get-started/quickstart-java/">Quickstart - Java</a></li>
                  <li><a href="{{ site.baseurl }}/get-started/quickstart-py/">Quickstart - Python</a></li>
                </ul>
              </li>
              <li>
                Example Walkthroughs
                <ul>
                  <li><a href="{{ site.baseurl }}/get-started/wordcount-example/">WordCount</a></li>
                  <li><a href="{{ site.baseurl }}/get-started/mobile-gaming-example/">Mobile Gaming</a></li>
                </ul>
              </li>
              <li><a href="{{ site.baseurl }}/get-started/downloads">Downloads</a></li>
              <li><a href="{{ site.baseurl }}/get-started/support">Support</a></li>
            </ul>
          </li>
          <li>
            Documentation
            <ul>
              <li><a href="{{ site.baseurl }}/documentation">Using the Documentation</a></li>
              <li>
                Pipeline development lifecycle
                <ul>
                  <li><a href="{{ site.baseurl }}/documentation/pipelines/design-your-pipeline/">Design Your Pipeline</a></li>
                  <li><a href="{{ site.baseurl }}/documentation/pipelines/create-your-pipeline/">Create Your Pipeline</a></li>
                  <li><a href="{{ site.baseurl }}/documentation/pipelines/test-your-pipeline/">Test Your Pipeline</a></li>
                </ul>
              </li>
              <li>
                Beam programming guide
                <ul>
                  <li><a href="{{ site.baseurl }}/documentation/programming-guide/#overview">Pipelines</a></li>
                  <li><a href="{{ site.baseurl }}/documentation/programming-guide/#pcollections">PCollections</a></li>
                  <li>
                    <a href="{{ site.baseurl }}/documentation/programming-guide/#transforms">Transforms</a>
                    <ul>
                      <li><a href="{{ site.baseurl }}/documentation/programming-guide/#applying-transforms">Applying transforms</a></li>
                      <li><a href="{{ site.baseurl }}/documentation/programming-guide/#pardo">ParDo</a></li>
                      <li><a href="{{ site.baseurl }}/documentation/programming-guide/#flatten">Flatten</a></li>
                      <li><a href="{{ site.baseurl }}/documentation/programming-guide/#groupbykey">GroupByKey</a></li>
                      <li><a href="{{ site.baseurl }}/documentation/programming-guide/#composite-transforms">Composite transforms</a></li>
                    </ul>
                  </li>
                  <li><a href="{{ site.baseurl }}/documentation/programming-guide/#windowing">Windowing</a></li>
                  <li><a href="{{ site.baseurl }}/documentation/programming-guide/#triggers">Triggers</a></li>
                </ul>
              </li>
              <li>
                Pipeline I/O
                <ul>
                  <li><a href="{{ site.baseurl }}/documentation/io/io-toc/">Supported I/O transforms</a></li>
                  <li><a href="{{ site.baseurl }}/documentation/io/io-toc/">Using I/O transforms</a></li>
                  <li><a href="{{ site.baseurl }}/documentation/io/authoring-overview/">Authoring new I/O transforms</a></li>
                  <li><a href="{{ site.baseurl }}/documentation/io/testing/">Testing I/O transforms</a></li>
                </ul>
              </li>
              <li><a href="{{ site.baseurl }}/documentation/programming-guide/#data-encoding-and-type-safety">Data encoding and type safety</a></li>
            </ul>
          </li>
          <li>
            SDKS
            <ul>
              <li><a href="{{ site.baseurl }}/documentation/sdks/java/">Java SDK</a></li>
              <li><a href="{{ site.baseurl }}/documentation/sdks/javadoc/{{ site.release_latest }}/" target="_blank">Java SDK API Reference <img src="{{ site.baseurl }}/images/external-link-icon.png"
                                                                                                                                                 width="14" height="14"
                                                                                                                                                            alt="External link."></a>
              </li>
              <li><a href="{{ site.baseurl }}/documentation/sdks/python/">Python SDK</a></li>
              <li><a href="{{ site.baseurl }}/documentation/sdks/pydoc/{{ site.release_latest }}/" target="_blank">Python SDK API Reference <img src="{{ site.baseurl }}/images/external-link-icon.png"
                                                                                                                                                 width="14" height="14"
                                                                                                                                                            alt="External link."></a>
              </li>
              <li>
                DSLs
                <ul>
                  <li><a href="{{ site.baseurl }}/documentation/dsls/sql/">SQL</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            Runners
            <ul>
              <li><a href="{{ site.baseurl }}/documentation/runners/capability-matrix/">Capability Matrix</a></li>
              <li><a href="{{ site.baseurl }}/documentation/runners/direct/">Direct Runner</a></li>
              <li><a href="{{ site.baseurl }}/documentation/runners/apex/">Apache Apex Runner</a></li>
              <li><a href="{{ site.baseurl }}/documentation/runners/flink/">Apache Flink Runner</a></li>
              <li><a href="{{ site.baseurl }}/documentation/runners/gearpump/">Apache Gearpump Runner</a></li>
              <li><a href="{{ site.baseurl }}/documentation/runners/spark/">Apache Spark Runner</a></li>
              <li><a href="{{ site.baseurl }}/documentation/runners/dataflow/">Cloud Dataflow Runner</a></li>
            </ul>
          </li>
          <li>
            Contribute
            <ul>
              <li><a href="{{ site.baseurl }}/contribute">Get Started Contributing</a></li>
              <li>
                Guides
                <ul>
                  <li><a href="{{ site.baseurl }}/contribute/contribution-guide/">Contribution Guide</a></li>
                  <li><a href="{{ site.baseurl }}/contribute/testing/">Testing Guide</a></li>
                  <li><a href="{{ site.baseurl }}/contribute/release-guide/">Release Guide</a></li>
                  <li><a href="{{ site.baseurl }}/contribute/ptransform-style-guide/">PTransform Style Guide</a></li>
                  <li><a href="{{ site.baseurl }}/contribute/runner-guide/">Runner Authoring Guide</a></li>
                </ul>
              </li>
              <li>
                Technical References
                <ul>
                  <li><a href="{{ site.baseurl }}/contribute/design-principles/">Design Principles</a></li>
                  <li><a href="{{ site.baseurl }}/contribute/work-in-progress/">Ongoing Projects</a></li>
                  <li><a href="{{ site.baseurl }}/contribute/source-repository/">Source Repository</a></li>
                </ul>
              </li>
              <li>
                Promotion
                <ul>
                  <li><a href="{{ site.baseurl }}/contribute/presentation-materials/">Presentation Materials</a></li>
                  <li><a href="{{ site.baseurl }}/contribute/logos/">Logos and Design</a></li>
                </ul>
              </li>
              <li><a href="{{ site.baseurl }}/contribute/maturity-model/">Maturity Model</a></li>
              <li><a href="{{ site.baseurl }}/contribute/team/">Team</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
        </ul>
      </div><!--/.nav-collapse -->
  </nav>
</div>
