<nav class="major-section-nav">
  <ul class="major-section-nav-list">
    <li><a href="{{ site.baseurl }}/contribute">Get Started Contributing</a></li>
    <li>
      <span class="major-section-nav-list-title">Guides</span>

      <ul>
        <li><a href="{{ site.baseurl }}/contribute/contribution-guide/">Contribution Guide</a></li>
        <li><a href="{{ site.baseurl }}/contribute/testing/">Testing Guide</a></li>
        <li><a href="{{ site.baseurl }}/contribute/release-guide/">Release Guide</a></li>
        <li><a href="{{ site.baseurl }}/contribute/ptransform-style-guide/">PTransform Style Guide</a></li>
        <li><a href="{{ site.baseurl }}/contribute/runner-guide/">Runner Authoring Guide</a></li>
      </ul>
    </li>
    <li>
      <span class="major-section-nav-list-title">Technical References</span>

      <ul>
        <li><a href="{{ site.baseurl }}/contribute/design-principles/">Design Principles</a></li>
        <li><a href="{{ site.baseurl }}/contribute/work-in-progress/">Ongoing Projects</a></li>
        <li><a href="{{ site.baseurl }}/contribute/source-repository/">Source Repository</a></li>
      </ul>
    </li>
    <li>
      <span class="major-section-nav-list-title">Promotion</span>

      <ul>
        <li><a href="{{ site.baseurl }}/contribute/presentation-materials/">Presentation Materials</a></li>
        <li><a href="{{ site.baseurl }}/contribute/logos/">Logos and Design</a></li>
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/contribute/maturity-model/">Maturity Model</a></li>
    <li><a href="{{ site.baseurl }}/contribute/team/">Team</a></li>
  </ul>
</nav>
