<div class="major-section-nav col-md-3 hidden-sm hidden-xs">
  <nav>
    <ul class="major-section-nav-list" data-spy="affix" data-offset-bottom="500">
      <li><a href="{{ site.baseurl }}/documentation">Using the Documentation</a></li>
      <li>
        <strong class="major-section-nav-list-title">Pipeline development lifecycle</strong>

        <ul class="major-section-nav-list">
          <li><a href="{{ site.baseurl }}/documentation/pipelines/design-your-pipeline/">Design Your Pipeline</a></li>
          <li><a href="{{ site.baseurl }}/documentation/pipelines/create-your-pipeline/">Create Your Pipeline</a></li>
          <li><a href="{{ site.baseurl }}/documentation/pipelines/test-your-pipeline/">Test Your Pipeline</a></li>
        </ul>
      </li>
      <li>
        <strong class="major-section-nav-list-title">Beam programming guide</strong>

        <ul class="major-section-nav-list">
          <li><a href="{{ site.baseurl }}/documentation/programming-guide/#overview">Pipelines</a></li>
          <li><a href="{{ site.baseurl }}/documentation/programming-guide/#pcollections">PCollections</a></li>
          <li>
            <a href="{{ site.baseurl }}/documentation/programming-guide/#transforms">Transforms</a>

            <ul class="major-section-nav-list">
              <li><a href="{{ site.baseurl }}/documentation/programming-guide/#applying-transforms">Applying transforms</a></li>
              <li><a href="{{ site.baseurl }}/documentation/programming-guide/#pardo">ParDo</a></li>
              <li><a href="{{ site.baseurl }}/documentation/programming-guide/#flatten">Flatten</a></li>
              <li><a href="{{ site.baseurl }}/documentation/programming-guide/#groupbykey">GroupByKey</a></li>
              <li><a href="{{ site.baseurl }}/documentation/programming-guide/#composite-transforms">Composite transforms</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/documentation/programming-guide/#windowing">Windowing</a></li>
          <li><a href="{{ site.baseurl }}/documentation/programming-guide/#triggers">Triggers</a></li>
        </ul>
      </li>
      <li>
        <strong class="major-section-nav-list-title">Pipeline I/O</strong>

        <ul class="major-section-nav-list">
          <li><a href="{{ site.baseurl }}/documentation/io/io-toc/">Supported I/O transforms</a></li>
          <li><a href="{{ site.baseurl }}/documentation/io/io-toc/">Using I/O transforms</a></li>
          <li><a href="{{ site.baseurl }}/documentation/io/authoring-overview/">Authoring new I/O transforms</a></li>
          <li><a href="{{ site.baseurl }}/documentation/io/testing/">Testing I/O transforms</a></li>
        </ul>
      </li>
      <li><a href="{{ site.baseurl }}/documentation/programming-guide/#data-encoding-and-type-safety">Data encoding and type safety</a></li>
    </ul>
  </nav>
</div>
