<nav class="major-section-nav">
  <ul class="major-section-nav-list">
    <li><a href="{{ site.baseurl }}/documentation/runners/capability-matrix/">Capability Matrix</a></li>
    <li><a href="{{ site.baseurl }}/documentation/runners/direct/">Direct Runner</a></li>
    <li><a href="{{ site.baseurl }}/documentation/runners/apex/">Apache Apex Runner</a></li>
    <li><a href="{{ site.baseurl }}/documentation/runners/flink/">Apache Flink Runner</a></li>
    <li><a href="{{ site.baseurl }}/documentation/runners/gearpump/">Apache Gearpump Runner</a></li>
    <li><a href="{{ site.baseurl }}/documentation/runners/spark/">Apache Spark Runner</a></li>
    <li><a href="{{ site.baseurl }}/documentation/runners/dataflow/">Cloud Dataflow Runner</a></li>
  </ul>
</nav>
